__pycache__

# Notebook stuff
.ipynb_checkpoints

# do not include aggregated data to github
aggregated_data/
aggregated_data_intermediate/
aggregated_data_test/
aggregated_result_plots/
aggregated_result_plots_test/

# do not include slurm files
slurm-*.out
